# Entorno virtual de Python
.venv/
*.lock

# Datos crudos (se descargan, no se versionan)
data_raw/

# Archivos de Python generados
__pycache__/
*.pyc

# Archivos de Jupyter Notebook generados
.ipynb_checkpoints/

# Datos Limpios
data_transformed/
